/* Universal Styles */
html,
body {
    height: 100%;
    box-sizing: border-box;
}

.container {
    height: 100%;
    display: grid;
    grid-template:2fr 3fr 2fr / 1fr;
}

/* Header section */
header {
    background-color: #A7D6D7;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Main section */
main {
    background-color: #E1F8DC;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main textarea {
    width: 80%;
    padding: 20px;
    text-align: center;
    height: 50%;
    background-color: rgba(red, green, blue, alpha);
}

main p {
    width: 80%;
    padding: 20px;
    text-align: center;
    height: 50%;
    display: none;
}


/* Footer section */
footer {
    background-color: #A7D6D7;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}